/*universal selector */
*{
    border:ipx solid red;
}
/* tag selector*/
h1{
    background-color: green;
}
/*id selector*/
#a{
    color:red;
    background-color:aqua;
}
/*class selector*/
.b{
    color:blueviolet;
    border:10px solid;
}
/*group selector*/
h1,h2 {
    color:brown;
}
/*descendent selector*/
div p{
    color:aqua;
    background-color: blue;
}
/*child selector*/
div >p{
    color:yellowgreen;
    background-color: brown;
}
/*attribute selector*/
button[type="submit"]{
    color:red;
    font-size:32px;
}
/*pseudo */
li:nth-child(2){
    color:red;
    font-size:24px;
}

li:hover{
    color:yellow;
    background-color:red;
    font-size:10px;
}
/*pseudo elements*/
#r::before{
    content:"written by css";
}
.b::first-lettor{
    font-size:20px;
    color:aqua;
}
#q{
    display:block;
}
#q::first-letter{
    font-size:30px;
    color:red;
}
#q::first-letter{
    color:yellow;
    font-size:32px;
}
/*
*{
    padding:0;
    margin:0;
}
    */
/*box model*/
h1:nth-child(1){
    border:3px solid red;
    padding:30px;
    padding:10px 20px 40px 60px;
    padding:20px 80px;
    margin:80px;*/
}