body {
    font-family: Arial;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.demo-box {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    margin-bottom: 40px;
}

.item {
    background: #b2e8f4;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.long {
    width: 100%;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-box {
    display: flex;
    justify-content: space-between;
}
.justify-item {
    display: flex;
    
}

.justify-order {
    display: flex;
    
}

.justify-self {
    display: flex;
}
