 body{
            height: 100px;
            display: flex;
            padding-top: 20px;
            background-color: lightcyan;
            align-items: center;
            flex-direction: column;
        }
        form{
            width: 300px;
            height: 120px;
            background-color: lightgray;
            display: flex;
            justify-content: center;
            gap: 20px;
            padding: 30px;
            flex-direction: column;
            border-radius: 15px;
        }
        